.form {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: black;
}

.label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.label:not(:last-child) {
  margin-bottom: 15px;
}

.input {
  padding: 5px;
  width: 80%;
}

.list {
  display: flex;
}

.item:not(:last-child) {
  margin-right: 5px;
}
